@inherits LayoutComponentBase

<div class="main">
    <div class="header">
        <a href="/">
            <img class="logo" src="assets/catHoldingCup.jpeg" alt="Logo" />
        </a>
        

        <nav class="nav-links">
            <a href="/blog">My Blog</a>
            <a href="https://github.com/turw41th" target="_blank">My Github</a>
            <a href="https://www.linkedin.com/in/nicolas-baur-8625b4229/" target="_blank">LinkedIn</a>
        </nav>
    </div>

    <div class="content px-4 content-container">
        @Body
    </div>
</div>