@inherits LayoutComponentBase

<div class="main">
    <div class="header">
        <img class="logo" src="assets/catHoldingCup.jpeg" alt="Logo" />

        <nav class="nav-links">
            <a href="#projects">My Projects</a>
            <a href="https://github.com/turw41th" target="_blank">My Github</a>
            <a href="#">My CV</a>
        </nav>
    </div>

    <div class="content px-4 content-container">
        @Body
    </div>
</div>