@page "/blog"
@inject NavigationManager NavManager

<h2 id="blogpagetitle">BlogPage</h2>

<p>Redirecting to Blog Page</p>

@code {
    protected override void OnInitialized()
    {
        NavManager.NavigateTo("https://turwaithsthoughts.blogspot.com");
    }
}
