@page "/"

<header>
    <img src="logo.png" alt="Logo" id="logo">
</header>
<main>
    <div>
        <h3 id="greeting">Hi, my name is</h3><br />
        <h1 id="name">Nicolas Baur</h1>
        <h2>Software developer. Dungeon master. Nerd</h2>
    </div>
</main>
<footer>
    The design for this website is heavily inspired by <a href="https://brittanychiang.com">Brittany Chiang</a>.
</footer>
