@page "/"

<main>
    <div>
        <h3 id="greeting">Hi, my name is</h3><br />
        <h1 id="name">Nicolas Baur</h1>
        <h2>Software developer. Dungeon master. Nerd</h2>
    </div>
    
    <p>
        I build software with passion for detail. 
    </p>

    <h1 class="subtitle" style="margin-top: 20vh" id="about">About me</h1>
    <p class="aboutme">
        Hello! My name is Nicolas aka. Turwaith and I am a software developer with a passion for clean and modern design,
        on the surface as well as deep within the code. Having worked in architecture for almost ten years, I finally decided
        to pursue my fasciniation and passion for software development and coding with a course in 2021 and a one-year
        internship in 2022. 
        Having worked primarily within the .NET enviroment, I am especially interested in improving my skills there, although
        I will never say 'no' to learning something new!
    </p>


    <h1 class="subtitle" style="margin-top: 20vh" id="projects">Some of my Projects</h1>
    
    <div class="project-container">
        <a href="https://github.com/turw41th/HashMate" target="_blank" class="project-box">
            <h3>HashMate</h3>
            <p>A small but useful native Windows tool to generate different hash values 
                from text and files. 
            </p>
            <p style="margin-top: 15px">
                <span style="color: lightgray">Technologies:</span> C#, WPF, WinUI3
            </p>
        </a>
        <a href="https://github.com/turw41th/DnDHealthTracker" target="_blank" class="project-box">
            <h3>DnDHealthTracker</h3>
            <p>
                Android App with a very simple yet useful interface to track health points during Pen and Paper
                fight situations. 
            </p>
            <p style="margin-top: 15px">
                <span style="color: lightgray">Technologies:</span> Java, Android
            </p>
        </a>
    </div>

</main>
<footer>
    The design for this website is heavily inspired by <a href="https://brittanychiang.com">Brittany Chiang</a>.<br />
    This website on <a href="https://github.com/turw41th/turwaith.dev">Github</a>
</footer>

@code{
    
}